.whyUs {
  padding: 30px 0;
  background: var(--white);
  border-bottom: 2px solid var(--border);

  &__wrapper {
    display: grid;
    grid-template-columns: 320px repeat(6, 1fr);
  }

  &__intro {
    padding-right: 20px;

  }
}