.contactInfo {
  display: flex;
  align-items: center;
  gap: 16px;

  &+& {
    margin-top: 22px;
  }

  &__icon {
    flex-shrink: 0;

    color: var(--gold);
  }

  &__text {
    color: var(--white);

    font-size:clamp(15px,2vw,18px);
    line-height: 1.6;
  }
}